/castor.php
/.castor.stub.php
/.dockerignore
/.editorconfig
/.github/
/.gitignore
/.php-cs-fixer.php
/.phpunit.cache/
/doc/
/Dockerfile
/examples/
/phpstan.neon
/phpunit.xml
/README.md
/tests/
/tools/phar/vendor/
/var/
/vendor/
