parameters:
    level: 8
    paths:
        - src
    tmpDir: 'var/phpstan/tmp'
    inferPrivatePropertyTypeFromConstructor: true
    checkGenericClassInNonGenericObjectType: false
    excludePaths:
        analyse: []
