includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
        - examples
    tmpDir: 'var/phpstan/tmp'
    inferPrivatePropertyTypeFromConstructor: true
    checkGenericClassInNonGenericObjectType: false
    excludePaths:
        analyse: []
    typeAliases:
        ContextData: '''
            array{
                name: string,
                production: bool,
                foo?: string,
            }
        '''
        ImportSource: '''
            array{
                url?: string,
                type?: "git" | "svn",
                reference?: string,
            }
        '''
    ignoreErrors:
        -
            message: "#^Function pyrech\\\\.* not found\\.$#"
            count: 2
            path: examples/
